.section#apropos( name='apropos')
  .container
    .titre-section.text-center
      h3.nsc-titre
        span.deco-g
        | A propos de
        span.rouge
          | Nassidjcom
        span.deco-d
      p  
        |Crée dans le cadre d’un projet ANSEJ, l’agensce est spécialisée dans le domaine du web, elle est composée d’une jeune équipe d’ingénieurs soucieuse des détails et doté d’un esprit vif et dynamique.
        |Toujours à l’écoute  de ses clients, l’agence vous accompagne dans vos projets depuis l’étude de votre idée jusqu’à sa réalisation et son suivi.
