.section#contact.contact.dark( name='contact')
		.container.contact-top
				.titre-section.text-center
						h3.nsc-logow
				.row.nsc-conatct-info
					.col-xs-4.col-sm-4.col-md-4.text-center
						.fa-icon-effect
							span.fa.fa-map-marker.fa-2x
						span.info-cont
							| 142 lgts bt 9 local N°10
					.col-xs-4.col-sm-4.col-md-4.text-center
						.fa-icon-effect
							span.fa.fa-phone.fa-2x
						span.info-cont
							| 023 - 33 - 02 - 88
					.col-xs-4.col-sm-4.col-md-4.text-center
						.fa-icon-effect
							span.fa.fa-facebook.fa-2x
						span.info-cont
							| fb.nassidjcom

		.container-fluid
			.nsc-form
					.panel.panel-default
							.panel-body
								form
									.form-group
										label.sr-only(for='exampleInputEmail1') Email address
										input#exampleInputEmail1.form-control(type='email', placeholder='Email')
									.form-group
										label.sr-only(for='exampleInputPassword1') Password
										input#exampleInputPassword1.form-control(type='password', placeholder='Password')
									.form-group
										label.sr-only(for='exampleInputPassword1') Message
										textarea#exampleTextarea.form-control(type='text', placeholder='Lessez votre message', rows=6)
									button.btn.nsc_submit_lg(type='submit') Envoyer votre message
			#gmaps

			.copyr.text-center
				span
					| Copyright@Nassidjcom - Tous droits réservés
