//
   Created by Ouali on 05/09/2016.

.section#clients( name='client')
    .container
        .titre-section.text-center
            h3.nsc-titre
                span.deco-g
                | nos
                span.rouge
                    | Clients
                span.deco-d
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis aliquid, eius dignissimos natus ullam reprehenderit culpa enim voluptatibus facere veniam.
    .container.text-center
        .col-xs-12.col-sm-6.col-md-3
            img.img-thumbnail(style="height:100px", src="https://static.wixstatic.com/media/19ebb0_6f207c9755d74b3a969da82d79770130.png/v1/fill/w_177,h_137,al_c,usm_0.66_1.00_0.01/19ebb0_6f207c9755d74b3a969da82d79770130.png",alt="")
        .col-xs-12.col-sm-6.col-md-3
            img.img-thumbnail(style="height:100px", src="https://pbs.twimg.com/profile_images/524587465928364032/RXlZsGS0.jpeg",alt="")
        .col-xs-12.col-sm-6.col-md-3
            img.img-thumbnail(style="height:100px", src="https://scontent-mrs1-1.xx.fbcdn.net/v/t1.0-9/12274529_851948584925918_7767944545315181081_n.png?oh=d576cfa67d38c1e4e3d948106931ad4d&oe=5837A29B",alt="")
        .col-xs-12.col-sm-6.col-md-3
            img.img-thumbnail(style="height:100px", src="assets/img/nsc_logo.png",alt="")
