include ../_includes/_mixin-carousell
.section#portfolio.dark(name='portfolio')
    .nsc_icon
        i.fa.fa-users
    .container
        .titre-section.text-center
            h3.nsc-titre
                span.deco-g
                | nos
                span.rouge
                    | Travaux
                span.deco-d
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis aliquid.
    .container-fluid
        include ../_includes/portfolio/filterize
