include ../_includes/_mixin-modal
mixin services(service_tiems)
    each item in service_tiems
        .col-xs-12.col-sm-6.col-md-4.col-lg-4.text-center.services-blocks
            a.link-service(href="#animatedModal"  id='nsc_link_modal')
                -var iconClass={'class': item.iconCls}
                span.iconlg.fa-icon-effect-1a.fa-icon-effect-1
                    i.fa.fa-4x()&attributes(iconClass)
                h4.serv-titre
                    | #{item.servTitre}

.section#service.dark
    .container-fluid
        .titre-section.text-center
            h3.nsc-titre
                span.deco-g
                | nos
                span.rouge
                    | services
                span.deco-d
            p.lead
              |Notre agence web , vous propose son panel de services pour vous accompagner dans vos projets web.

    .container
        .row
            +services([
                {
                    "iconCls": "fa-pencil",
                    "servTitre": "Identité visuelle et graphisme",
                },
                {
                    "iconCls": "fa-file-o",
                    "servTitre": "Site web",
                },
                {
                    "iconCls": "fa-code",
                    "servTitre": "Application web",
                },])
        .row
            +services([
                {
                    "iconCls": "fa-desktop",
                    "servTitre": "Application de bureau",
                },
                {
                    "iconCls": "fa-cogs",
                    "servTitre": "Hébergement sur mesure",
                },
                {
                    "iconCls": "fa-server",
                    "servTitre": "Support et maintenance",
                },

            ])

+modal([{
    'modalId': 'animatedModal',
    'titleModal': 'Creation graphique',

}])
