.container
  .col-md-5.col-xs-12.col-sm-6.col-lg-5.modal-caroussel
      img.img-responsive(src="assets/img/modal-img/design.png", alt="")
  .col-md-7.col-xs-12.col-sm-6.col-lg-7
    .content_service
      h4 Création graphique
      p Vous êtes unique! Et pour que votre image reflète l’essence de votre entreprise, nous réalisons votre
        | logo et votre identité visuelle. Nous la déclinons sur de multiples supports imprimés ou digitaux.
    .nsc_tools
      h5 Outils utilisè
      .logo_tools
        ul.list-unstyled
          li 
            span.ps
          li 
            span.ai
          li 
            span.id 

          

  
