#section_top
	h4 LANCEZ VOUS DANS L'AVENTURE
	h1 donnez vie a vos idées !
	.blanc
		p <b>Nassidjcom</b>, vous accomagne tout au long de vos projets
	ul.list-unstyled
		li
			i.fa.fa-check(aria-hidden="true")
			| Analyse du besoin
		li
			i.fa.fa-check(aria-hidden="true")
			| Mise en oeuvre de la solution
		li
			i.fa.fa-check(aria-hidden="true")
			| Mise en production et suivie de l'evolution

a.go-down.hidden-xs(href="#service")
	i.fa.fa-angle-down.fa-5x
